<Files ~ "^\.(htaccess|htpasswd)$">
	deny from all
</Files>

Options -Indexes


ErrorDocument 403 /Juegos2013/static/403.php
ErrorDocument 404 /Juegos2013/static/404.php
ErrorDocument 500 /Juegos2013/static/500.php
